*{
    padding: 0%;
    margin: 0%;
}
.main{
    grid-gap: 133px;
    display: grid;
    grid-template-areas: 
    'l l r r'
    'l l r r';
}
.left{
    position: fixed;
    grid-area: l;
    border-right: 2px solid grey;
    /* border: 1px solid red; */
    height: 92.5%;
    width: 220px;
    padding: 22px;
    display: grid;
    grid-template-areas: 
    'i i i i'
    'n n n n'
    's s s s'
    'l l l l'
    'i2 i2 i2 i2';
    
}
.imglogo{
    grid-area: i;
    margin: -20px 0px 0px 10px;

}
.name{
    grid-area: n;
    font-family: 'Glory', sans-serif;
    margin: -13% 0px 0px 44px;
    font-size: 30px;

}
.sub{
    grid-area: s;
    font-size: 13px;
    margin: -8% 0px 0px 67px;
}
.list{
    /* border: 1px solid rosybrown; */
    grid-area: l;
    height: 198px;
    margin: 31px 0px 0px 0px;

}
.list ul li{
    list-style: none;
    line-height: 32px;
}
.list ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Glory', sans-serif;
    padding: 10px;
    color: black;
    border-radius: 20px;

}
.list ul li a:hover{
    background-color: black;
    color: white;
}
.imgs{
    grid-area: i2;
    /* border: 1px solid orange; */
    height: 20px;
    width: 200px;
    margin: 41px 0px 0px 20px;

}
.imgs i{
    font-size: 21px;
    cursor: pointer;
    margin: 0px 10px 0px 10px;



}
.right{
    grid-area: r;
    /* border: 1px solid pink; */
    min-height:100vh; 
    width: 955px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    grid-template-areas: 
    'p1 p1 p1 p1'
    'po po po po'
    'ima1 ima1 ima1 ima1'
    'int int int int'
    'abt abt abt abt'
    'po2 po2 po2 po2'
    'te te te te';


}

.p1{
    text-align: center;
    /* border: 2px solid red; */
    grid-area: p1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 3px;
    text-decoration: 1px underline;
}
.post{
    grid-area: po;
    /* border: 2px solid khaki; */
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: -2px 0px 0px 0px ;
}
.image{
    height: 500px;
    width: 951px;
    grid-area: ima1;
    /* border:2px solid yellow; */
    margin: 35px 0px 0px 0px ;

}
.image img{
    height: 500px;
    width: 953px;
    border-radius: 40px 10px;
}
.intro{
    grid-area: int ;
    margin: 8px 0px 0px 0px;
    /* border: 2px solid greenyellow; */
    padding: 30px;
    font-size: 18px;
    font-style: oblique;
    line-height: 22x;
}
.abt{
    margin: 60px 0px 0px 0px;
    /* border: 2px solid rosybrown; */
    text-align: center;
    grid-area: abt;
    font-size: 30px;
    padding: 3px;
    text-decoration: 1px underline;
}
.post2{
    grid-area: po2;
    /* border: 2px solid khaki; */
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: -2px 0px 0px 0px ;
}

.team{
    margin: 50px 0px 0px 0px;
    grid-column-gap: 150px;
    grid-row-gap: 54px;
    /* border: 2px solid brown;s */
    grid-area: te;
    display: grid;
    grid-template-areas: 
    'pr1 pr1 pr2 pr2'
    'pr3 pr3 pr4 pr4';
}
.prof1{
    grid-area: pr1;
    

}
.pf{
    position:relative;
}
.pf .info{
    position: absolute;
    top:0;
    opacity: 0;
}
.pf:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.5);
    cursor: pointer;
}
.prof1:hover .info{
    top: 20px;
    left: 20px;
    opacity: 1;
    color: rgb(255, 255, 255);
}

.prof2:hover .info{
    top: 20px;
    right: 20px;
    opacity: 1;
    color: rgb(255, 255, 255);
}
.prof3:hover .info{
    top: 20px;
    left: 20px;
    opacity: 1;
    color: rgb(255, 255, 255);
}
.prof4:hover .info{
    top: 20px;
    right: 20px;
    opacity: 1;
    color: rgb(255, 255, 255);
}


.prof1 img{
    height: 600px;
    width: 400px;
}
.prof2{
    grid-area: pr2;

}
.prof2 img{
    height: 600px;
    width: 400px;
}
.prof3{
    grid-area: pr3;
}

.prof3 img{
    grid-area: pr3;
    height: 600px;
    width: 400px;
}
.prof4{
    grid-area: pr4;

}
.prof4 img{
    height: 600px;
    width: 400px;
}
.ft {
    width: 104%;
    border: 2px solid black;
    margin: 39px 0px 0px -22px;
    grid-area: ft;
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 10px 10px 0px 0px;
}
#abhi{
    font-size: 30px;
}
.abh{
    position: relative;
}
.abh .info{
    position: absolute;
    top: 0;
    opacity: 0;
}
.abh:hover::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.5);
    border-radius: 40px 10px;

    
}
.abh:hover .info{
    top:40px;
    left: 40px;
    color: white;
    opacity: 1;
}
.prof-name{
    font-size: 20px;
}
.links{
    margin: 3px;
    font-size: 15px;
    cursor: pointer;
}
