*{
    padding: 0%;
    margin: 0%;
}
.main{
    grid-gap: 133px;
    display: grid;
    grid-template-areas: 
    'l l r r'
    'l l r r';
}
.left{
    position: fixed;
    grid-area: l;
    border-right: 2px solid grey;
    /* border: 1px solid red; */
    height: 92.5%;
    width: 220px;
    padding: 22px;
    display: grid;
    grid-template-areas: 
    'i i i i'
    'n n n n'
    's s s s'
    'l l l l'
    'i2 i2 i2 i2';
    
}
.imglogo{
    grid-area: i;
    margin: -20px 0px 0px 10px;

}
.name{
    grid-area: n;
    font-family: 'Glory', sans-serif;
    margin: -13% 0px 0px 44px;
    font-size: 30px;

}
.sub{
    grid-area: s;
    font-size: 13px;
    margin: -8% 0px 0px 67px;
}
.list{
    /* border: 1px solid rosybrown; */
    grid-area: l;
    height: 198px;
    margin: 31px 0px 0px 0px;

}
.list ul li{
    list-style: none;
    line-height: 32px;
}
.list ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Glory', sans-serif;
    padding: 10px;
    color: black;
    border-radius: 20px;

}
.list ul li a:hover{
    background-color: black;
    color: white;
}
.imgs{
    grid-area: i2;
    /* border: 1px solid orange; */
    height: 20px;
    width: 200px;
    margin: 41px 0px 0px 20px;

}
.imgs i{
    font-size: 21px;
    cursor: pointer;
    margin: 0px 10px 0px 10px;



}
.right{
    grid-area: r;
    /* border: 1px solid pink; */
    min-height:100vh; 
    width: 935px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    grid-template-areas: 
    'po po po po'
    'p1 p1 p1 p1'
    'w w w w'
    'q q q q'
    "bu bu bu bu"
    'ft ft ft ft';
}
.post{
    text-decoration:1px underline;
    text-align: center;
    /* border: 2px solid yellow; */
    grid-area: po;
    font-size: 45px;
    font-family: 'Glory', sans-serif;

}
.p1{
    text-align: center;
    
    /* border: 2px solid orange; */
    grid-area: p1;
    font-style: italic;
}
.work{
    margin: 40px 0px 0px 0px;
    grid-column-gap: 130px;
    grid-row-gap: 39px;
    /* border: 2px solid brown; */
    min-height: 100vh;
    grid-area: w;
    display: grid;
    grid-template-areas: 
    'we we por por'
    'tr tr fash fash'
    'pro pro sp sp';
}
.wed{
    grid-area: we;
}
.wed img{
    width: 400px;
    height: 500px;
}
.port{
    grid-area:por ;
}
.port img{
    width: 400px;
    height: 500px;
}
.travel{
    grid-area: tr;
}
.travel img{
    width: 400px;
    height: 500px;
}
.fashion{
    grid-area:fash;
}
.fashion img{
    width: 400px;
    height: 500px;
}
.product{
    grid-area:pro ;
}
.product img{
    width: 400px;
    height: 500px;
}
.sports{
    grid-area:sp ;
}
.sports img{
    width: 400px;
    height: 500px;
}
.yo{
    position: relative;
}

.l2{
    position: absolute;
    top: 89%;
    left: 20px;
    color: white;
    font-size: larger;
}
.icon2{
    position: absolute;
    top: 82%;
    left: 82px;
    opacity: 1;
    color: white;
    font-size: 30px;
}

.q{
    text-decoration: 1px underline;
    margin: 40px 0px 0px 0px;
    /* border: 2px solid yellowgreen; */
grid-area: q;
text-align: center;font-size: 25px;
font-style: italic;

}

.bu{
    border-radius: 50%;
    width: 150px;
    background-color: rgb(32, 31, 31);
    color: white;
    height: 30px;
    /* border: 2px solid mediumpurple; */
grid-area: bu;
cursor: pointer;
}
.bu:hover{
    background-color: rgb(27, 23, 23);
    color: whitesmoke;
}
#but{
    margin: 20px 0px 0px 0px;
    text-align: center;
}
.ft {
    width: 106%;
    border: 2px solid black;
    margin: 39px 0px 0px -31px;
    grid-area: ft;
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 10px 10px 0px 0px;
}
#abhi{
    font-size: 30px;
}
